.container {
  margin: 0px auto;
  width: 50%;
}

.score {
  font-size: 1.4rem;
  font-family: Rubik, Verdana, Geneva, sans-serif;
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.buttonContainer {
  padding: 1rem;
  width: 150px;
  height: 80px;
}

button.button {
  font-size: 1.4rem;
  font-family: Rubik, Verdana, Geneva, sans-serif;
  font-weight: lighter;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
}

button.flash, .hide {
  display: none;
}

button.visible {
  display: block;
}
